# !!!! В продолжение кода не пишем даже в виде комментариев
# Знак = не обрамляем пробелами
# OpenAI
CHATGPT_API_KEY=key
# Telegram bot to @BotFather
TELEGRAM_BOT_CHATGPT_API_KEY=key
# can make a list
ADMIN_USER_IDS={656756, 435345}
# can make a list
ALLOWED_TELEGRAM_USER_IDS={677567, 546546}

WHITE_LIST={54546645,4564645,54546456}